<p>error-page works!</p>
<ul>
    <li class="" routerLink="/auth/login"><a>Ir a login</a></li>
</ul>
<ul>
    <li class="" routerLink="/auth/registro"><a>Ir a registro</a></li>
</ul>
<ul>
    <li class="" routerLink="/heroes/heroe"><a>Ir a heroe</a></li>
</ul>
<ul>
    <li class="" routerLink="/heroes/agregar"><a>Ir a agregar</a></li>
</ul>
<ul>
    <li class="" routerLink="/heroes/editar"><a>Ir a editar</a></li>
</ul>
<ul>
    <li class="" routerLink="/heroes/buscar"><a>Ir a buscar</a></li>
</ul>