<div *ngFor="let item of items" class="card">
    <img *ngIf="item.images.length > 0" [src]="item.images | noimage" class="card-img-top" [alt]="item.name" />
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">
            <span *ngFor="let artista of item.artists" class="badge badge-pill badge-success">{{ artista.name }}</span
      >
    </p>
  </div>
  <p class="card-text">
    <small class="text-muted">Last updated 3 mins ago</small>
  </p>
</div>